

@{ ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name"
                    },
                    {
                        data: "MembershipType",
                        render: function (data) {
                            return data.Name;
                        }
                    }
                ]
            });



            $("#customers").DataTable();
            
        })
    </script>
}
